name: deploy-non-prd
on:
  push:
    branches:
      - dev
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Dev
        uses: actions/checkout@v2
        with:
          ref: dev
      - name: Send docker-compose to host
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          passphrase: ${{ secrets.SSH_PASSPHASE }}
          source: docker-compose.yml
          target: ~/nuxt/
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ghcr.io/kb-group-enterprise/int222-fe-nuxt:dev
  deploy:
    needs: build
    runs-on: ubuntu-20.04
    steps:
      - name: docker-compose up in host
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          passphrase: ${{ secrets.SSH_PASSPHASE }}
          script: |
            cd ~/nuxt
            docker-compose down
            docker pull ghcr.io/kb-group-enterprise/int222-fe-nuxt:dev
            docker-compose up -d